extends index
block content
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center
        img.circle.responsive-img(src='/images/Sar.JPG', alt='')
      h2.header.center  Agregar Producto
      .row.center
        .input-field.col.s6
          input#nombreP.validate(type='text')
          label(for='nombreP') Nombre
        .input-field.col.s6
          input#precioP.validate(type='text')
          label(for='precioP') Precio de venta
        .input-field.col.s6
      .row
        .input-field.col.s12
          select#categoriaP
            option(value='', disabled='', selected='') Seleccionar Categoria
            option(value='SUBASTA') Subasta
            option(value='IJ') IJ
            option(value='QR')  QR
            option(value='ABARROTES') Abarrotes
            option(value='UV') UV
          label Categoria
      .row
        .input-field.col.s12
          input#comentariosP.validate(type='text')
          label(for='comentariosP') Comentarios
      .row.center
        button.btn.waves-effect.waves-light.green#agregaProducto(name='action')
          | Crear Producto
          i.material-icons.right send
