extends index
block content
  .row.up
    a#login.waves-effect.waves-light.btn.green(href='') REGRESAR
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center
        img.circle.responsive-img(src='/images/Sar.JPG', alt='')
      h3.header.center
        font(size='8') Crear pedido
      .row.center
        h5.header.left  Seleccionar productos
        table
          thead
            tr
              th(data-field='seleccion') Seleccionar
              th(data-field='nombre') Producto
              th(data-field='precio') Precio
              th(data-field='cantidad') Cantidad
          tbody.dataP
        h5.header.left  Seleccionar fecha de entrega
        input.datepicker(type='date')
        h5.header.left  Agregar comentarios
        .row
          form.col.s12
            .row
              .input-field.col.s6
                i.material-icons.prefix mode_edit
                textarea#icon_prefix2.materialize-textarea
                label(for='icon_prefix2') Comentario
      .row.center
        a#registraPedido.waves-effect.waves-light.btn.green Crear Pedido
