extends index
block content
  .row.up
    a#login.waves-effect.waves-light.btn.green(input='') REGRESAR
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h6.header.center
        img.circle.responsive-img(src='/images/Sar.JPG', alt='')
      h3.header.center  Generar plan de compra
      .row.center
        h5.header.center  Seleccionar categoría
        .row.center
          .collection
            a.collection-item(input='#!') Subasta
            a.collection-item(input='#!') IJ
            a.collection-item(input='#!') QR
            a.collection-item(input='#!') Abarrotes
            a.collection-item(input='#!') UV
