doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    |   
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
    |   
    title Starter Template - Materialize
    // CSS
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    |   
    link(href="css/materialize.css", type="text/css", rel="stylesheet", media="screen,projection")
    |   
    link(href="css/style.css", type="text/css", rel="stylesheet", media="screen,projection")
  body
    #index-banner.section.no-pad-bot
      .container
        br
        br
        |     
        |       
        h1.header.center
          img.circle.responsive-img(src="Sar.JPG", alt="")
        | 		 
        h2.header.center  Agregar Producto
        |       
        .row.center
          .row
            form.col.s12
              .row
                .input-field.col.s6
                  input#nombreDeProducto.validate(type="text")
                  |           
                  label(for="first_name") Nombre
                | 		  
                | 		          
                .input-field.col.s6
                  input#precioDeVenta.validate(type="text")
                  |           
                  label(for="sale_price") Precio de venta
                |         
                .input-field.col.s6
              |               
              .row
                .input-field.col.s6
                  input#nombreDeProducto.validate(type="text")
                  |           
                  label(for="first_name") Nombre
                | 		  
                | 		          
                .input-field.col.s6
                  input#precioDeVenta.validate(type="text")
                  |           
                  label(for="sale_price") Precio de venta
                |         
                .input-field.col.s6
              |       
              .row
                .input-field.col.s12
                  select
                    option(value="", disabled="", selected="") Seleccionar Categoria
                    |       
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                    |               
                    option(value="1") Categoria 1
                    |       
                    option(value="2") Categoria 2
                    |       
                    option(value="3") Categoria 3
                  |     
                  label Categoria
              |       
              .row
                .input-field.col.s12
                  input#lugarDeCompra.validate(type="text")
                  |           
                  label(for="lugarDeCompra") Lugar De Compra
        |       
        .row.center
          a#submit.waves-effect.waves-light.btn.green(href="") ENVIAR
        |       
        br
        br
    |   
    .container
      br
      br
    // Scripts
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    |   
    script(src="js/materialize.js")
    |   
    script(src="js/init.js")
